In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Set the random seed for reproducibility
np.random.seed(123)


# Create a dataframe with two classes
#seeting up no of records we want for class1 and class2
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0

900

In [ ]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
## creating a binary dataset with target as 1 for 100 records and 0 for 900 records

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [6]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [7]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [8]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

#### Creating new sample records similar to minority to match the record size of majority

In [11]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [12]:
from sklearn.utils import resample

#creating minority records same as the size of majority records
df_minority_resampled = resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [14]:
df_minority_resampled.shape

(900, 3)

In [16]:
Upsampled_data = pd.concat([df_majority,df_minority_resampled])

In [17]:
Upsampled_data['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

## Down Sampling

#### Reducing the size of majority records to match the size of minority

In [19]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

0    900
1    100
Name: target, dtype: int64

In [20]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [ ]:
from sklearn.utils import resample
 #Sample Without replacement reduces the records to the size of minority without creating any new records
df_minority_upsampled=resample(df_majority,replace=False,
         n_samples=len(df_minority),
         random_state=42
        )

In [22]:
df_minority_upsampled.shape

(100, 3)

In [23]:
df_minority_upsampled.head()

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0

In [25]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [29]:
Downsampled_date = pd.concat([df_minority_upsampled,df_minority])

In [30]:
Downsampled_date['target'].value_counts()

0    100
1    100
Name: target, dtype: int64